
<div  class="titulo_info_config">
	<div class="col-lg-12">
		<ul class="breadcrumb">
		  <li class="active"><i class="fa fa-cog"></i> Configuracion</a></li>
		</ul>
	</div>
</div>

<div  class="row content_info_config">
    <div  class="col-lg-11  col-md-11 ">

    <p>Todas las opciones del área de configuración son opciones que permiten configurar el Sistema Académico antes de empezar su utilización. Estas funciones solo son accesibles a un usuario administrador. </p>

	<p>Los 2 pasos indispensables de la configuración son las 2 primeras en el menú izquierdo: la configuración de la empresa/institución y la configuración de los módulos:</p>

	<p>La configuración <b>Empresa/institución</b> a administrar es requerida ya que se utiliza la información para la introducción de datos en la mayoría de las pantallas, en inserciones, o para modificar el comportamiento del Sistema.</p>

	<p>La configuración <b>Módulos</b> es indispensable para activar los módulos que serán utilizados en el Sistema Académico.</p>
    </div>
</div>
