<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 table-responsive">

        <h2>Lista de Cursos</h2></br></br>

<a href='#nuevo_curso'><button type="button" class="btn btn-primary">Agregar Nuevo Curso +</button></a></br></br></br>
    <div style="height: 500px; overflow-y: scroll; overflow-x: hidden;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Metodología</th>
                    <th>Modalidad</th>
                    <th>Nro Créditos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in cursos">
                    <td data-ng-show="n.codigo_curso">{{n.codigo_curso}}</td>
                    <td data-ng-show="n.nombre_curso"><a href="#detCurso/{{n.id_curso}}">{{n.nombre_curso}}</a></td>
                    <td data-ng-show="n.metodologia">{{n.metodologia | Metodologia}}</td> 
                    <td data-ng-show="n.modalidad">{{n.modalidad | Modalidades}}</td> 
                    <td data-ng-show="n.nro_creditos">{{n.nro_creditos}}</td>                   
                    <td class="col-md-1"><a href="#modCurso/{{n.id_curso}}">
                      <span class="glyphicon glyphicon-pencil" style="font-size: 20px;"></span>
                    </a>    &nbsp;
                    <a href="#usuarios">
                      <span ng-click="delCurso(n.id_curso, n)" class="glyphicon glyphicon-trash" style="font-size: 20px;"></span>
                    </a>
                    </td>

                </tr>
            </tbody>
        </table>
     </div> 
    </div>        
</div>