<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 table-responsive">

        <h2>Gestión de Períodos Académicos</h2></br></br>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código Periodo</th>
                    <th>Nombre Periodo</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                </tr>
            </thead>

            <tbody style="cursor:hand;">
                <tr ng-repeat="n in periodos">
                    <td ng-click="showProgramas(n.id_periodo,n.codigo_periodo, $index)" data-ng-show="n.codigo_periodo">{{n.codigo_periodo}}</td>
                    <td data-ng-show="n.nombre_periodo">{{n.nombre_periodo}}</td>
                    <td data-ng-show="n.fecha_inicio">{{n.fecha_inicio}}</td>
                    <td data-ng-show="n.fecha_fin">{{n.fecha_fin}}</td>                  
                </tr>
            </tbody>
        </table>
    </div>        
</div>


<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" ng-show="VistaProgramas">
        <h1>Programas Académicos del Periodo : {{codigo_periodo}}</h1></br></br>
        
    <form id="nuevoProgramaForm" name="nuevoProgramaForm" ng-submit="nuevoProgramaForm.$valid && nuevoPrograma(programa, $index)">
    <div style="overflow-y: scroll; overflow-x: hidden;">    
        <table class="table table-bordered" style="margin-bottom:0px; ">
            <thead>
                <tr>
                    <th class="col-md-5">Nombre de Programa</th>
                    <th class="col-md-1">Fecha Inicio</th>
                    <th class="col-md-1">Fecha Fin</th>
                    <th class="col-md-2">Estado</th>
                    <th class="col-md-1" ng-click="hideCursos()">X</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-5">
                        <select class="js-example-basic-multiple" ng-model='programa.id_programa' style="width: 350px;" required>
                          <option disabled selected>Seleccione un Programa</option>
                          <option ng-repeat="pas in listaProgramas" value="{{pas.id_programa}}">{{pas.codigo_programa}} - {{pas.nombre_programa}}</option>
                        </select>
                    </td>
                    <td class="col-md-1">
                        <input type="date" class="form-control" ng-model='programa.fecha_inicio' required/>
                    </td>
                    <td class="col-md-1">
                        <input type="date" class="form-control" ng-model='programa.fecha_fin' required/>
                    </td>
                    <td class="col-md-2">
                        <select class="form-control" ng-model='programa.estado' required>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </td>
                    <td class="col-md-1 text-center" ><button id='oculto' type="submit" style="display:none;"></button>
                          <a onClick="document.getElementById('oculto').click();" href=""><span class="glyphicon glyphicon-plus-sign" style="font-size: 20px;"></span></a> 
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>

            <div style="height: 300px; overflow-y: scroll; overflow-x: hidden;">
            <table class="table table-bordered">
            <tbody>
                </tr>
                 <tr ng-repeat="m in programas" style="cursor:hand;">
                    <td ng-click="showActividades(m.id_programa, m.codigo_programa, $index)" class="col-md-5" data-ng-show="m.nombre_programa">{{m.codigo_programa}} - {{m.nombre_programa}}</td> 
                    <td class="col-md-1" data-ng-show="m.fecha_inicio">{{m.fecha_inicio}}</td>
                    <td class="col-md-1" data-ng-show="m.fecha_fin">{{m.fecha_fin}}</td>
                    <td class="col-md-2">{{m.estado | estadoPrograma}}</td>
                    <td class="col-md-1 text-center" ng-click="delCursoMalla(m.id_curso)"><a href="#modPlan/{{n.id_plan_estudio}}">
                      <span class="glyphicon glyphicon-minus-sign" style="font-size: 20px;"></span>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table></div>
        <div id="cambiodevista"></div>
    </form>
    </br></br>

    </div>


    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 table-responsive" ng-show="VistaActividades">
        <h1>Actividades Académicas del Programa : {{codigo_programa}}</h1></br></br>
        
    <form id="nuevaActividadForm" name="nuevaActividadForm" ng-submit="nuevaActividadForm.$valid && nuevaActividad(actividad, $index)">
    <div style="overflow-y: scroll; overflow-x: hidden;">    
        <table class="table table-bordered" style="margin-bottom:0px; ">
            <thead>
                <tr>
                    <th class="col-md-3">Nombre de Actividad</th>
                    <th class="col-md-3">Descripción</th>
                    <th class="col-md-2">Estado</th>
                    <th class="col-md-1" ng-click="hideActividades()">X</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-3">
                        <select class="js-example-basic-multiple" ng-model='actividad.id_actividad' style="width: 100%;" required>
                          <option disabled selected>Seleccione una Actividad</option>
                          <option ng-repeat="acts in listaActividades" value="{{acts.id_actividad}}">{{acts.codigo_actividad}} - {{acts.nombre_actividad}}</option>
                        </select>
                    </td>

                    <td class="col-md-3">
                        <input type="text" class="form-control" ng-model='actividad.descripcion' required/>
                    </td>
                    <td class="col-md-2">
                        <select class="form-control" ng-model='actividad.estado' required>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </td>
                    <td class="col-md-1 text-center" ><button id='oculto2' type="submit" style="display:none;"></button>
                          <a onClick="document.getElementById('oculto2').click();" href=""><span class="glyphicon glyphicon-plus-sign" style="font-size: 20px;"></span></a> 
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>

            <div style="height: 300px; overflow-y: scroll; overflow-x: hidden;">
            <table class="table table-bordered">
            <tbody>
                </tr>
                 <tr ng-repeat="m in actividades" style="cursor:hand;">
                    <td class="col-md-3" data-ng-show="m.codigo_actividad">{{m.codigo_actividad}} - {{m.nombre_actividad}}</td> 
                    <td class="col-md-3" data-ng-show="m.descripcion">{{m.descripcion}}</td>
                    <td class="col-md-2">{{m.estado | estadoPrograma}}</td>
                    <td class="col-md-1 text-center" ng-click="delActividad(m.id_actividad)"><a href="#modPlan/{{n.id_plan_estudio}}">
                      <span class="glyphicon glyphicon-minus-sign" style="font-size: 20px;"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table></div>
        <div id="cambiodevista2"></div>
    </form>
    </br></br>

    </div>