<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 table-responsive">

        <h1>Gestión de Planes de Estudio</h1></br></br>

        <a href='#nuevo_planEstudios'><button type="button" class="btn btn-primary">Agregar Nuevo Plan de Estudios +</button></a></br></br></br>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Programa</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in planes">
                    <td data-ng-show="n.codigo_plan">{{n.codigo_plan}}</td>
                    <td ng-click="showCursos(n.id_plan_estudio)" data-ng-show="n.nombre_plan_estudio">{{n.nombre_plan_estudio}}</td>
                    <td data-ng-show="n.nombre_programa">{{n.nombre_programa}}</td> 
                    <td>{{n.estado | estadoPlan}}</td>   
                    <td><a href="#modPlan/{{n.id_plan_estudio}}">[editar]   </a><a href="#planesestudio" ng-click="delPlan(n.id_plan_estudio, $index)">  [eliminar]</a></td>
                  
                </tr>
            </tbody>
        </table>

    </br>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 table-responsive" ng-show="vistaMalla">
        <h1>Malla Curricular</h1></br></br>
        
        <form id="nuevoForm" name="nuevoForm" ng-submit="nuevoForm.$valid && guardarCurso(cr)">
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Tipo de Curso</th>
                    <th>Nivel</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="js-example-basic-multiple" ng-model='cr.id_curso' style="width: 100%;" required>
                          <option disabled selected>Seleccione un curso</option>
                          <option ng-repeat="cu in bancoCursos" value="{{cu.id_curso}}">{{cu.codigo_curso}} {{cu.nombre_curso}}</option>
                        </select>
                    </td>
                   <td>
                        <select class="js-example-basic-multiple" ng-model='cr.tipo_curso' style="width: 100%;" required>
                          <option disabled selected>Seleccione el tipo de curso</option>
                          <option value="1">Obligatorio</option>
                          <option value="2">Electivo</option>
                        </select>
                    </td>
                    <td ><input type="number" min=1 max=10 class="form-control" ng-model='cr.nivel' placeholder="Nivel" required/></td>
                    <td><button type="submit" class="btn btn-default" aria-label="Left Align">
                          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button></td>
                    
                </tr>
                <tr ng-repeat="m in cursos">
                    <td data-ng-show="m.nombre_curso">{{m.codigo_curso}} {{m.nombre_curso}}</td>
                    <td data-ng-show="m.tipo_curso">{{m.tipo_curso | tipoCurso}}</td> 
                    <td data-ng-show="m.nivel">{{m.nivel}}</td> 
                    <td ><button type="button" ng-click="delCursoMalla(m.id_curso)" class="btn btn-default" aria-label="Left Align">
                          <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                        </button>
                </tr>
            </tbody>
        </table>
    </form>
    </br></br>

    </div>
</div>