<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 table-responsive">

        <h2>Gestión de Actividades Académicas</h2></br></br>
    <form id="actividadForm" name="actividadForm" ng-submit="actividadForm.$valid && guardarActividad(ac)">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código Actividad</th>
                    <th>Nombre Actividad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-3">
                        <input type="text" class="form-control" ng-model='ac.codigo_actividad' placeholder="Código Actividad" required/>
                    </td>
                   <td class="col-md-4">
                        <input type="text" class="form-control" ng-model='ac.nombre_actividad' placeholder="Nombre Actividad" required/>
                    </td>
                    <td class="col-md-1 text-center" ><button id='oculto' type="submit" style="display:none;"></button>
                      <a onClick="document.getElementById('oculto').click();" href=""><span class="glyphicon glyphicon-plus-sign" style="font-size: 20px;"></span></a> 
                    </td>
                </tr>
            </tbody>

            <tbody>
                <tr ng-repeat="n in actividades">
                    <td data-ng-show="n.codigo_actividad">{{n.codigo_actividad}}</td>
                    <td data-ng-show="n.nombre_actividad">{{n.nombre_actividad}}</td>

                    <td class="col-md-1"><a href="#mod_actividad/{{n.id_actividad}}">
                      <span class="glyphicon glyphicon-pencil" style="font-size: 20px;"></span>
                    </a>    &nbsp;
                    <a href="#usuarios">
                      <span ng-click="delActividad(n.id_actividad, n)" class="glyphicon glyphicon-trash" style="font-size: 20px;"></span>
                    </a>
                    </td>
                  
                </tr>
            </tbody>
        </table>
    </form>
    </div>        
</div>