<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 table-responsive">

        <h2>Gestión de Períodos Académicos</h2></br></br>
    <form id="periodoForm" name="periodoForm" ng-submit="periodoForm.$valid && guardarPeriodo(pe)">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código Periodo</th>
                    <th>Nombre Periodo</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-3">
                        <input type="text" class="form-control" ng-model='pe.codigo_periodo' placeholder="Nivel" required/>
                    </td>
                   <td class="col-md-4">
                        <input type="text" class="form-control" ng-model='pe.nombre_periodo' placeholder="Nivel" required/>
                    </td>
                    <td class="col-md-2">
                        <input type="date" class="form-control" ng-model='pe.fecha_inicio' placeholder="Nivel" required/>
                    </td>
                    <td class="col-md-2">
                        <input type="date" class="form-control" ng-model='pe.fecha_fin' placeholder="Nivel" required/>
                    </td>
                    <td class="col-md-1 text-center" ><button id='oculto' type="submit" style="display:none;"></button>
                          <a onClick="document.getElementById('oculto').click();" href=""><span class="glyphicon glyphicon-plus-sign" style="font-size: 20px;"></span></a> 
                        </td>
                </tr>
            </tbody>

            <tbody>
                <tr ng-repeat="n in periodos">
                    <td data-ng-show="n.codigo_periodo">{{n.codigo_periodo}}</td>
                    <td data-ng-show="n.nombre_periodo">{{n.nombre_periodo}}</td>
                    <td data-ng-show="n.fecha_inicio">{{n.fecha_inicio}}</td>
                    <td data-ng-show="n.fecha_fin">{{n.fecha_fin}}</td>
                    <td class="col-md-1"><a href="#mod_unidad/{{n.id_unidad}}">
                      <span class="glyphicon glyphicon-pencil" style="font-size: 20px;"></span>
                    </a>    &nbsp;
                    <a href="#usuarios">
                      <span ng-click="delPeriodo(n.id_periodo, n)" class="glyphicon glyphicon-trash" style="font-size: 20px;"></span>
                    </a>
                    </td>
                  
                </tr>
            </tbody>
        </table>
    </form>
    </div>        
</div>