<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 table-responsive">

        <h2>Tipos de Documentos</h2></br></br>

<a href='#nuevo_tipoDocumento'><button type="button" class="btn btn-primary">Nuevo Tipo de documento +</button></a></br></br></br>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tipo de Documento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in documento">
                    <td data-ng-show="n.tipo_documento">{{n.tipo_documento}}</td>
                    <td class="col-md-1"><a href="#mod_tipoDocumento/{{n.id_tipo_documento}}">
                      <span class="glyphicon glyphicon-pencil" style="font-size: 20px;"></span>
                    </a>    &nbsp;
                    <a href="#usuarios">
                      <span ng-click="delTipoDocumento(n.id_tipo_documento, n)" class="glyphicon glyphicon-trash" style="font-size: 20px;"></span>
                    </a>
                    </td>
                  
                </tr>
            </tbody>
        </table>
     </div>        
    </div>