<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 table-responsive">

        <h2>Gestión de Unidades Académicas</h2></br></br>

<a href='#nueva_unidad'><button type="button" class="btn btn-primary">Agregar Nueva Unidad +</button></a></br></br></br>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Unidad</th>
                    <th>Abreviatura</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in names">
                    <td data-ng-show="n.nombre_unidad">{{n.nombre_unidad}}</td>
                    <td data-ng-show="n.abreviatura">{{n.abreviatura}}</td>
                    <td class="col-md-1"><a href="#mod_unidad/{{n.id_unidad}}">
                      <span class="glyphicon glyphicon-pencil" style="font-size: 20px;"></span>
                    </a>
                    <a href="#unidades">
                      <span ng-click="delUnidad(n.id_unidad, n)" class="glyphicon glyphicon-trash" style="font-size: 20px;"></span>
                    </a>
                    </td>
                </tr>
            </tbody>
        </table>
     </div>        
    </div>