<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script src="http://code.jquery.com/jquery.js"></script>
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <title>Encuesta</title>


</head> 


<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	
	<h2>Encuesta Docente 2015-II</h2></br>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		   <div class="col-sm-3 col-sm-offset-1 "><img src="http://www.orce.uni.edu.pe/profesores/09967663.jpg" height="100" /></div>
	   <div class="col-sm-8 ">

		<table class="table table-bordered ">
	  		<thead>
	        	<tr>
	             	<th>Curso</th>
	             	<th>Docente</th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr>
	             	<td>Mate 1</td>
	             	<td>Rojas</td>
	            </tr>
	        </tbody>
	        </tbody>
	        </table></br>
		   </div>
		   <p>Responda las siguientes preguntas según su criterio en base al desempeño del docente de curso.</p></br>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

		<table class="table table-bordered ">
	  		<thead>
	        	<tr class="warning"	>
	             	<th>N°</th>
	             	<th>Curso</th>
	             	<th>Docente 1</th>
	             	<th>Docente 2</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	              	<td>1</td>
	                <td>Mate1</td>
	                <td>Docente 1</td>
	                <td>Docente 2</td>
	            </tr>
	              <tr>
	              	<td>2</td>
	                <td>Radiodifusion</td>
	                <td>Patroni</td>
	                <td>Docente 2</td>
	            </tr>
	              <tr>
	              	<td>3</td>
	                <td>Arduino</td>
	                <td>Linares</td>
	                <td>Docente 2</td>
	            </tr>
	              <tr>
	              	<td>4</td>
	                <td>Diseño</td>
	                <td>Docente 1</td>
	                <td>Docente 2</td>
	            </tr>
	              <tr>
	              	<td>5</td>
	                <td>Estadistica</td>
	                <td>Espinoza</td>
	                <td>Docente 2</td>
	            </tr>
	       </tbody>
		</table>
	</div>
</div>



