
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 table-responsive">
		<table class="table table-bordered ">
	  		<thead>
	        	<tr class="warning"	>
	             	<th>Definir con framework!!</th>
	             	<th>Valor</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	              	<td>ID</td>
	                <td>20015189j</td>
	            </tr>
		    	<tr>
	              	<td>Apellido Paterno</td>
	                <td>Paoli</td>
	        	</tr>
	        	<tr>
	                <td>Apellido Materno</td>
	                <td>Rosas</td>
	            </tr>
	             <tr>
	                <td>Nombres</td>
	                <td>Giancarlo</td>
	            </tr>
	            <tr>
	                <td>Sexo</td>
	                <td>Masculino</td>
	            </tr>
	            <tr>
	                <td>N° de Usuarios</td>
	                <td>564</td>
	            </tr>
	            <tr>
	                <td>N° de Usuarios</td>
	                <td>564</td>
	            </tr>
	            <tr>
	                <td>N° de Usuarios</td>
	                <td>564</td>
	            </tr>
	            <tr>
	                <td>N° de Usuarios</td>
	                <td>564</td>
	            </tr>
	            <tr>
	                <td>N° de Usuarios</td>
	                <td>564</td>
	            </tr>
	       </tbody>
		</table>
	</div>
</div>



<div class="row">
	<div class="col-lg-12 col-lg-offset-2">

	                <td><button type="button" class="btn btn-primary">Editar</button></td>
	                <td><button type="button" class="btn btn-primary">Guardar</button></td>


	</div>
</div>
