<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script src="http://code.jquery.com/jquery.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <title>Inicio</title>


</head>
<div class="row">
	<div class="col-lg-4 col-lg-offset-4 col-md-10 col-md-offset-1 table-responsive">
</br>
	<table class="table">

	        <tbody>
	            <tr>
	              	<td>Facultad:</td>
	                <td>FIEE</td>

	            </tr>
	               <tr>
	              	<td>Programa Académico:</td>
	                <td>Innovacíon</td>

	            </tr>
	               <tr>
	              	<td>Ciclo:</td>
	                <td>4</td>

	            </tr>
	               <tr>
	              	<td>Total de Cursos:</td>
	                <td>5</td>

	            </tr>
	               <tr>
	              	<td>Total de Creditos:</td>
	                <td>16</td>

	            </tr>
	       </tbody>
		</table>

	</div>
</div>


<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 table-responsive">

	<h4>Cursos Matriculados</h4>
		<table class="table table-striped table-advance">
	  		<thead>
	        	<tr class="warning"	>
	             	<th>Código de Curso</th>
	             	<th>Nombre de Curso</th>
	             	<th>Creditos</th>
	             	<th>Seccion</th>
	             	<th>Docente</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	              	<td>XX1</td>
	                <td>Mate 1</td>
	                <td>3</td>
	                <td>A</td>
	                <td>Rojas</td>
	            </tr>
	               <tr>
	              	<td>XX2</td>
	                <td>Radiodifusion</td>
	                <td>4</td>
	                <td>A</td>
	                <td>Alvarez</td>
	            </tr>
	               <tr>
	              	<td>XX3</td>
	                <td>Fisica</td>
	                <td>3</td>
	                <td>A</td>
	                <td>Linares</td>
	            </tr>
	               <tr>
	              	<td>XX4</td>
	                <td>Diseño</td>
	                <td>3</td>
	                <td>A</td>
	                <td>Rosado</td>
	            </tr>
	               <tr>
	              	<td>XX5</td>
	                <td>Estadistica</td>
	                <td>3</td>
	                <td>A</td>
	                <td>Espinoza</td>
	            </tr>
	       </tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 table-responsive">


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#/info-acad/#Horario">Horario</a></li>
  <li><a data-toggle="tab" href="#/info-acad/#notas">Notas</a></li>
  <li><a data-toggle="tab" href="#/info-acad/#asistencia">Asistencia</a></li>
   <li><a data-toggle="tab" href="#/info-acad/#pagos">Pagos</a></li>
</ul>

<div class="tab-content">
  <div id="Horario" class="tab-pane fade in active">


   <table class="table table-bordered ">
	  		<thead>
	        	<tr class="succes"	>
	             	<th>Hora</th>
	             	<th>Lunes</th>
	             	<th>Martes</th>
	             	<th>Miercoles</th>
	             	<th>Jueves</th>
	             	<th>Viernes</th>
	             	<th>Sabado</th>
	             	<th>Domingo</th>

	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	              	<th><div class="bloque-tabla">19:00</div></th>
	             	<th><div class="bloque-tabla">Radiodifusion</br>Aula 1</div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla">Diseño</br>Aula 3</div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	            </tr>
	            <tr>
	              	<th><div class="bloque-tabla">20:00</div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla">Mate 3</br>Aula 2</div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	            </tr>
	            <tr>
	              	<th><div class="bloque-tabla">21:00</div></th>
	             	<th><div class="bloque-tabla">Mate 1</br>Aula 4</div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla">Arduino</br>Aula 1</div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	            </tr>
	            <tr>
	              	<th><div class="bloque-tabla">22:00</div></th>
	             	<th><div class="bloque-tabla">Estadistica</br>Aula 4</div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla">Mate 1</br>Aula 2</div></th>
	             	<th><div class="bloque-tabla"></div></th>
	             	<th><div class="bloque-tabla"></div></th>
	            </tr>

	       </tbody>
		</table>



  </div>
  <div id="notas" class="tab-pane fade">
    <table class="table table-striped table-advance table-bordered">
	  		<thead>
	        	<tr class="succes"	>
	             	<th>Prueba</th>
	             	<th>Nota</th>
	             	<th>Nota Final</th>
	             	<th>%Desaprovados</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	              	<td>Práctica 1</td>
	                <td>17</td>
	                <td>17</td>
	                <td>5%</td>
	            </tr>
	              <tr>
	              	<td>Práctica 2</td>
	                <td>14</td>
	                <td>15</td>
	                <td>19%</td>
	            </tr>
	              <tr>
	              	<td>Práctica 3</td>
	                <td>12</td>
	                <td>12</td>
	                <td>1%</td>
	            </tr>
	              <tr>
	              	<td>Práctica 4</td>
	                <td>17</td>
	                <td>17</td>
	                <td>9%</td>
	            </tr>
	              <tr>
	              	<td>Examen Parcial</td>
	                <td>12</td>
	                <td>12</td>
	                <td>10%</td>
	            </tr>
	              <tr>
	              	<td>Examen Final</td>
	                <td>05</td>
	                <td>04</td>
	                <td>100%</td>
	            </tr>
	               <tr>
	              	<td>Examen Sustitutorio</td>
	                <td>10</td>
	                <td>10</td>
	                <td>6%</td>
	            </tr>
	              <tr>
	              	<td>Promedio Final</td>
	                <td>14</td>
	                <td>14</td>
	                <td>5%</td>
	            </tr>

	       </tbody>
		</table>
  </div>
  <div id="asistencia" class="tab-pane fade">
   <table class="table table-striped table-advance table-bordered ">
	  		<thead>
	        	<tr class="succes"	>
	             	<th>Codigo Curso</th>
	             	<th>Nombre del Curso</th>
	             	<th>A la fecha</th>
	             	<th>Total</th>
	            </tr>
	        </thead>
	        <tbody>
	        <tr>
	              	<td>XX1</td>
	                <td>Mate 1</td>
	                <td>100%</td>
	                <td>30%</td>
	            </tr>
	               <tr>
	              	<td>XX2</td>
	                <td>Radiodifusion</td>
	                <td>90%</td>
	                <td>45%</td>
	            </tr>
	               <tr>
	              	<td>XX3</td>
	                <td>Fisica</td>
	                <td>80%</td>
	                <td>35%</td>
	            </tr>
	               <tr>
	              	<td>XX4</td>
	                <td>Diseño</td>
	                <td>90%</td>
	                <td>50%</td>
	            </tr>
	               <tr>
	              	<td>XX5</td>
	                <td>Estadistica</td>
	                <td>100%</td>
	                <td>35%</td>
	            </tr>
	       </tbody>
		</table>
  </div>
    <div id="pagos" class="tab-pane fade">
   <table class="table table-bordered ">
	  		<thead>
	        	<tr class="succes"	>
	             	<th></th>
	             	<th>Pago 1</th>
	             	<th>Pago 2</th>
	             	<th>Pago 3</th>
	             	<th>Pago 4</th>
	             	<th>Pago 5</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	              	<td>Fecha Límite</td>
	                <td>01/08/2015</td>
	                <td>01/09/2015</td>
	                <td>01/10/2015</td>
	                <td>01/11/2015</td>
	                <td>01/12/2015</td>
	             </tr>
	       </tbody>
		</table>
  </div>
</div>
</div>
</div>
