<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script src="http://code.jquery.com/jquery.js"></script>
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <title>Inicio</title>


</head> 


</br>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 table-responsive">

	<h4>Clases de Hoy:</h4>
		<table class="table table-bordered ">
	  		<thead>
	        	<tr class="warning"	>
	             	<th>Hora</th>
	             	<th>Clase</th>
	             	<th>Aula</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	              	<td>18:00</td>
	                <td>Fisica</td>
	                <td>B03</td>
	            </tr>
	            <tr>
	              	<td>19:00</td>
	                <td>Antenas</td>
	                <td>h02</td>
	            </tr>
	            <tr>
	              	<td>20:00</td>
	                <td>Radiodifusion</td>
	                <td>A13</td>
	            </tr>
	            <tr>
	              	<td>21:00</td>
	                <td>Mate1</td>
	                <td>D41</td>
	            </tr>
	            <tr>
	              	<td>22:00</td>
	                <td>Estadistic</td>
	                <td>B04</td>
	            </tr>
	       </tbody>
		</table>
	</div>
</div>




<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    <h4>Noticias:</h4>

		<div class="post-preview">
                             <i class="icon-time"></i>
			                 <h3 class="diskotk"> CARNÉ UNIVERSITARIO 2015 ENTREGA DE RECIBOS DE PAGO 2do. Grupo (rezagado)</h3>
			                <p>Se comunica a los alumnos que a la fecha no hicieron entrega de sus recibos de pago original por carné universitario, podrán realizarlo del <strong>22 al 30 de setiembre</strong></p>
			                <p><strong>Lugar:</strong>Oficina de Posgrado de la UNI <strong>Atención:</strong> Lu – Vi 09:00 a 13:00 y 14:00 a 15:30</p>
			                <p><strong>Nota.-</strong> La entrega de recibos de pago NO INCLUYE para alumnos ingresantes 2015-2.</p>    
                    <p class="post-meta"><i class="fa fa-clock-o"></i> Posted on September 24, 2015</p>
        </div>
        <hr>


        <div class="post-preview">
                     <i class="icon-time"></i>
	                 <h3 class="diskotk"> CARNÉ UNIVERSITARIO 2015 ENTREGA DE RECIBOS DE PAGO 2do. Grupo (rezagado)</h3>
	                <p>Se comunica a los alumnos que a la fecha no hicieron entrega de sus recibos de pago original por carné universitario, podrán realizarlo del <strong>22 al 30 de setiembre</strong></p>
	                <p><strong>Lugar:</strong>Oficina de Posgrado de la UNI <strong>Atención:</strong> Lu – Vi 09:00 a 13:00 y 14:00 a 15:30</p>
	                <p><strong>Nota.-</strong> La entrega de recibos de pago NO INCLUYE para alumnos ingresantes 2015-2.</p>    
            <p class="post-meta"><i class="fa fa-clock-o"></i> Posted on September 24, 2015</p>
        </div>

	</div>
</div>
