<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script src="http://code.jquery.com/jquery.js"></script>
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <title>Tramites</title>


</head> 


<div class="row">
	<div class="col-lg-12">
		<ul class="breadcrumb">
		  <li class="active"><i class="fa fa-user"></i>  Tramites</a></li>
		  	  
		</ul>
	</div>
</div>


	
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 table-responsive">
	   <table class="table table-bordered ">
	  		 <tbody>
	            <tr>
	              	<td>Facultad</td>
	                <td>FIEE</td>
	            </tr>
	             <tr>
	              	<td>Programa Academico</td>
	                <td>Maestria en Electronica</td>
	            </tr>
	         </tbody>
	         </table>


	   <div class="col-sm-3 bloque"><a href="#">Autorización de cuarta matrícula o permanencia</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Inscripción de tema de tesis</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Reincorporación</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Cambio de especialidad o programa</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Obtención del titulo</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Retiro de cursos</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Cambio de tema de tesis</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Otorgamiento de grado de magister/doctor</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Solicitud de constancias a la Unidad</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Carta de presentación</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Programas analíticos visados y/o traducidos</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Solicitud en blanco</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Carta de presentación con información académica</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Reconocimiento de cursos</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Sustentación de tesis (magister/Doctor)</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Certificado de notas: Equivalencia ECTS</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Rectificación de notas</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Transferencia Interna</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Convalidación de cursos</a></div>
	   <div class="col-sm-3 bloque"><a href="#">Registro histórico de notas</a></div>
	</div>
	</div>


<style type="text/css">
.bloque{

	padding: 10px 10px 10px 10px; 
	margin: 0px  20px  20px  20px ;
	border: 1px solid black;
	height: 60px;
	border-radius: 10px 10px 10px 10px;
}
</style>