

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 table-responsive">


        <h2>Lista de Usuarios</h2></br></br>

<a href='#nuevo_usuario'><button type="button" class="btn btn-primary">Agregar Usuario +</button></a></br></br></br>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Facultad</th>
                    <th>Tipo de Perfil</th>
                    <th>fecha de creacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in names">
                
                    <td data-ng-show="n.username">{{n.username}}</td>
                    <td data-ng-show="n.nombres">{{n.nombres}}</td>
                    <td data-ng-show="n.apellido_paterno">{{n.apellido_paterno}}</td>
                    <td data-ng-show="n.apellido_materno">{{n.apellido_materno}}</td>
                    <td data-ng-show="n.abreviatura">{{n.abreviatura}}</td>
                    <td data-ng-show="n.nombre_grupo">{{n.nombre_grupo}}</td>
                    <td data-ng-show="n.created_at">{{n.created_at}}</td>      
                    <td><a href="#mod_user/{{n.id_usuario}}">[editar]   </a><a href="#usuarios" ng-click="delUsuario(n.id_usuario, $index)">[eliminar]</a></td>
                  
                </tr>
            </tbody>
        </table>
 
    </div>        
    </div>